.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    padding-top: 15rem;
    animation: fadeIn 4s;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 4rem;
    font-weight: 600;
}

.hero h1 span {
    color: #395E33;
}

.hero-body {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10rem;
}

.hero-resume-button {
    display: inline-block;
    border: 3px solid white;
    border-radius: 5rem;
    padding: 2rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.hero-resume-button:hover {
    border-color: #395E33;
    transform: scale(1.05);
}

.hero-resume-button:visited {
    color: white;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 768px) {
    .hero {
        gap: 4rem;
        padding: 10rem 1rem 3rem;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero-body {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .hero-resume-button {
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero body {
        font-size: 1rem;
    }
    .hero-resume-button {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}