* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: white;
    font-family: 'outfit', sans-serif;
    padding-top: 6.25rem;
    background: #161513 url("/background_image.png");
}

html {
    scroll-padding-top: 4rem;
}

header h2 {
    font-size: 5rem;
    font-weight: 600;
    position: relative;
    padding: 0 2rem;
    background: linear-gradient(90deg, #395E33, #6FCF61);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: 0 88%;
}

@media(max-width: 768px) {
    body {
        padding-top: 4rem;
        background-attachment: scroll;
    }

    header h2 {
        font-size: 2.5rem;
        padding: 0 1rem;
    }
}

@media(max-width: 480px) {
    header h2 {
        font-size: 2rem;
    }
}